h1.txt {
  font-size: 6rem;
  position: relative;
  letter-spacing: 2px;
  font-weight: bold;
  color: #fff;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
h1.txt::before {
  content: attr(data-txt);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #eb2f06;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-ani 5s infinite linear alternate-reverse;
}
h1.txt::after {
  content: attr(data-txt);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #eb2f06, 2px 2px #EA2027;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-ani2 1s infinite linear alternate-reverse;
}

h1._m-text::before {
  content: attr(data-txt);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #eb2f06;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-ani 5s infinite linear alternate-reverse;
}
h1._m-text::after {
  content: attr(data-txt);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #eb2f06, 2px 2px #EA2027;
  clip: rect(44px, 450px, 56px, 0);
}

h1.space-animate {
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
h1.space-animate::before {
  content: attr(data-txt);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #eb2f06;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-ani 5s infinite linear alternate-reverse;
}
h1.space-animate::after {
  content: attr(data-txt);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #eb2f06, 2px 2px #EA2027;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-ani2 1s infinite linear alternate-reverse;
}

.__txt-main {
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.__txt-main::before {
  content: attr(data-txt);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #eb2f06;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-ani 5s infinite linear alternate-reverse;
}
.__txt-main::after {
  content: attr(data-txt);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #eb2f06, 2px 2px #EA2027;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-ani2 1s infinite linear alternate-reverse;
}

@keyframes glitch-skew {
  0% {
    transform: skew(-3deg);
  }
  10% {
    transform: skew(3deg);
  }
  20% {
    transform: skew(2deg);
  }
  30% {
    transform: skew(1deg);
  }
  40% {
    transform: skew(-2deg);
  }
  50% {
    transform: skew(-1deg);
  }
  60% {
    transform: skew(1deg);
  }
  70% {
    transform: skew(0deg);
  }
  80% {
    transform: skew(3deg);
  }
  90% {
    transform: skew(-1deg);
  }
  100% {
    transform: skew(-1deg);
  }
}
@keyframes glitch-ani {
  0% {
    clip: rect(82px, 9999px, 58px, 0);
    transform: skew(0.4deg);
  }
  5% {
    clip: rect(1px, 9999px, 36px, 0);
    transform: skew(0.67deg);
  }
  10% {
    clip: rect(42px, 9999px, 40px, 0);
    transform: skew(0.2deg);
  }
  15% {
    clip: rect(51px, 9999px, 63px, 0);
    transform: skew(0.88deg);
  }
  20% {
    clip: rect(18px, 9999px, 41px, 0);
    transform: skew(0.24deg);
  }
  25% {
    clip: rect(72px, 9999px, 71px, 0);
    transform: skew(0.63deg);
  }
  30% {
    clip: rect(81px, 9999px, 73px, 0);
    transform: skew(0.06deg);
  }
  35% {
    clip: rect(98px, 9999px, 99px, 0);
    transform: skew(0.79deg);
  }
  40% {
    clip: rect(34px, 9999px, 38px, 0);
    transform: skew(0.19deg);
  }
  45% {
    clip: rect(95px, 9999px, 77px, 0);
    transform: skew(0.08deg);
  }
  50% {
    clip: rect(82px, 9999px, 18px, 0);
    transform: skew(0.01deg);
  }
  55% {
    clip: rect(35px, 9999px, 37px, 0);
    transform: skew(0.04deg);
  }
  60% {
    clip: rect(74px, 9999px, 40px, 0);
    transform: skew(0.72deg);
  }
  65% {
    clip: rect(76px, 9999px, 10px, 0);
    transform: skew(0.68deg);
  }
  70% {
    clip: rect(82px, 9999px, 88px, 0);
    transform: skew(0.43deg);
  }
  75% {
    clip: rect(35px, 9999px, 15px, 0);
    transform: skew(0.66deg);
  }
  80% {
    clip: rect(49px, 9999px, 60px, 0);
    transform: skew(0.76deg);
  }
  85% {
    clip: rect(3px, 9999px, 3px, 0);
    transform: skew(0.8deg);
  }
  90% {
    clip: rect(42px, 9999px, 81px, 0);
    transform: skew(0.52deg);
  }
  95% {
    clip: rect(1px, 9999px, 44px, 0);
    transform: skew(0.07deg);
  }
  100% {
    clip: rect(74px, 9999px, 90px, 0);
    transform: skew(0.05deg);
  }
}
@keyframes glitch-ani2 {
  0% {
    clip: rect(8px, 9999px, 88px, 0);
    transform: skew(0.57deg);
  }
  5% {
    clip: rect(9px, 9999px, 49px, 0);
    transform: skew(0.32deg);
  }
  10% {
    clip: rect(97px, 9999px, 41px, 0);
    transform: skew(0.61deg);
  }
  15% {
    clip: rect(98px, 9999px, 11px, 0);
    transform: skew(0.21deg);
  }
  20% {
    clip: rect(100px, 9999px, 92px, 0);
    transform: skew(0.45deg);
  }
  25% {
    clip: rect(94px, 9999px, 76px, 0);
    transform: skew(0.93deg);
  }
  30% {
    clip: rect(19px, 9999px, 68px, 0);
    transform: skew(0.08deg);
  }
  35% {
    clip: rect(54px, 9999px, 23px, 0);
    transform: skew(0.08deg);
  }
  40% {
    clip: rect(46px, 9999px, 13px, 0);
    transform: skew(0.13deg);
  }
  45% {
    clip: rect(40px, 9999px, 2px, 0);
    transform: skew(0.95deg);
  }
  50% {
    clip: rect(50px, 9999px, 31px, 0);
    transform: skew(0.25deg);
  }
  55% {
    clip: rect(56px, 9999px, 77px, 0);
    transform: skew(0.95deg);
  }
  60% {
    clip: rect(31px, 9999px, 56px, 0);
    transform: skew(0.73deg);
  }
  65% {
    clip: rect(85px, 9999px, 6px, 0);
    transform: skew(0.25deg);
  }
  70% {
    clip: rect(2px, 9999px, 42px, 0);
    transform: skew(0.58deg);
  }
  75% {
    clip: rect(90px, 9999px, 29px, 0);
    transform: skew(0.65deg);
  }
  80% {
    clip: rect(75px, 9999px, 77px, 0);
    transform: skew(0.4deg);
  }
  85% {
    clip: rect(39px, 9999px, 33px, 0);
    transform: skew(0.38deg);
  }
  90% {
    clip: rect(70px, 9999px, 36px, 0);
    transform: skew(0.09deg);
  }
  95% {
    clip: rect(24px, 9999px, 23px, 0);
    transform: skew(0.27deg);
  }
  100% {
    clip: rect(6px, 9999px, 48px, 0);
    transform: skew(0.31deg);
  }
}

/*# sourceMappingURL=textAnimation.css.map */
