@import url('https://fonts.googleapis.com/css?family=Montserrat:100;400');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
:root {
    --Korona: "Montserrat", sans-serif;
    --Montserrat: "Montserrat", sans-serif;
    --temporatory: "Krona One", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

.app {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(10, 10, 10, 0.5), rgba(0, 0, 0, .9)), repeating-linear-gradient(0, transparent, transparent 4px, black 0px, black -3px), url("../img/init.jpg");
    background: #000;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.wrapper {
    text-align: center;
}

.span {
    color: rgb(100, 220, 220);
    letter-spacing: 1em;
}

.cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: transform .2s, border-radius .5s;
    pointer-events: none;
    z-index: 2;
    mix-blend-mode: difference;
}

.main {
    position: relative;
    height: 100vh;
    width: 100%;
    background: #000;
    overflow: hidden;
    .main__slider {
        position: relative;
        width: 400vw;
        height: 100%;
        display: flex;
        z-index: 1;
        transition: 0.4s ease;
        transform: translateX(0%);
        .main__content {
            position: relative;
            width: 100%;
            height: 100vh;
            @include flex;
            overflow: hidden;
            .main__txt {
                position: absolute;
                top: 5%;
                left: 5%;
                width: 200px;
                height: 40px;
                @include flex;
                flex-direction: column;
                z-index: 1;
                h1._m-text {
                    position: relative;
                    text-align: center;
                    font-size: 2rem;
                    text-transform: uppercase;
                    color: #fff;
                }
                ._m-line {
                    width: 0%;
                    height: 2px;
                    background: #fff;
                    position: relative;
                    transition: .5s ease;
                    &.setFull {
                        width: 100%;
                    }
                }
            }
            .main__overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                background: transparent;
                transition: .3s;
                pointer-events: none;
                z-index: 1;
                &.is-active {
                    background: rgba(0, 0, 0, 0.7);
                }
            }
            .main__left-half,
            .main__right {
                height: 100%;
                color: #fff;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: center;
            }
            .main__left-abs {
                position: absolute;
                top: 10%;
                left: 0;
                width: 100%;
                height: 100%;
                color: #fff;
                p {
                    position: relative;
                    font-size: 5vw;
                    .splited {
                        transition: all .5s ease;
                    }
                    &:hover .splited {
                        margin-right: 1px;
                    }
                    &:nth-child(1) {
                        font-size: 3vw;
                        width: 30%;
                        left: 5%;
                    }
                    &:nth-child(2) {
                        font-size: 5vw;
                    }
                    &:nth-child(3) {
                        font-size: 3vw;
                        text-align: center;
                        left: 31%;
                        width: 32%;
                    }
                    &:nth-child(4) {
                        position: absolute;
                        font-size: 4vw;
                        text-align: right;
                        width: 70%;
                        right: 11%;
                    }
                    &:nth-child(5) {
                        position: absolute;
                        font-size: 5vw;
                        text-align: right;
                        bottom: 11%;
                        right: 2%;
                    }
                }
                h1 {
                    width: 40%;
                    position: relative;
                    font-size: 3vw;
                    font-weight: 700;
                    left: 5%;
                    .splited {
                        transition: all .5s ease;
                    }
                    &:hover .splited {
                        margin-right: 1px;
                    }
                }
                .main__btn {
                    width: 200px;
                    height: 40px;
                    bottom: -10%;
                    left: 5%;
                    position: relative;
                    text-align: left;
                    background: transparent;
                    color: #fff;
                    font-size: 35px;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    &:before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0%;
                        height: 2px;
                        background: #fff;
                        transition: .2s;
                    }
                    &:hover:before {
                        width: 100%;
                    }
                    .main__btn-abs {
                        position: absolute;
                        top: 35%;
                        right: 5%;
                        opacity: 0;
                        transition: .4s;
                    }
                    &:hover>.main__btn-abs {
                        opacity: 1;
                        right: -8%;
                    }
                }
            }
            .main__left-half {
                width: 55%;
                padding-left: 5%;
                transition: .5s ease;
            }
            .main__right {
                width: 45%;
                .__right-pic {
                    position: relative;
                    width: 100%;
                    height: 130%;
                    &::before {
                        content: '';
                        position: absolute;
                        top: -3%;
                        left: 0;
                        width: 100%;
                        height: 100px;
                        background: linear-gradient(rgba(0, 0, 0, 0.9) 20%, transparent 80%);
                        z-index: 1;
                        pointer-events: none;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100px;
                        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
                        z-index: 1;
                        pointer-events: none;
                    }
                    .main__wrapper-img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 75%;
                        height: 70%;
                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 10%;
                            height: 100%;
                            background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
                            z-index: 1;
                            pointer-events: none;
                        }
                    }
                    img {
                        transition: .5s;
                        &:nth-child(1),
                        &:nth-child(2) {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 80%;
                            height: 100%;
                        }
                        &:nth-child(1) {
                            opacity: .7;
                        }
                        &:nth-child(2) {
                            opacity: 0;
                        }
                        &:hover {
                            &:nth-child(1) {
                                opacity: 0;
                            }
                            &:nth-child(2) {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        .main__page {
            width: 100%;
            height: 100vh;
            position: relative;
            background: #fff;
            @include flex;
            font-family: var(--Korona);
            .s__main-l {
                position: relative;
                width: 40%;
                height: 100%;
                @include flex;
                .main__txt {
                    position: absolute;
                    top: 5%;
                    left: 5%;
                    width: 200px;
                    height: 40px;
                    @include flex;
                    flex-direction: column;
                    z-index: 1;
                    h1._m-text {
                        font-family: var(--Montserrat) !important;
                        position: relative;
                        text-align: center;
                        font-size: 2rem;
                        text-transform: uppercase;
                        color: #000;
                    }
                    ._m-line._m-line2 {
                        width: 0%;
                        height: 2px;
                        background: #000;
                        position: relative;
                        transition: .5s ease;
                        &.fullline {
                            width: 100%;
                        }
                    }
                }
                .s__main-sliderImg {
                    position: absolute;
                    top: 14%;
                    left: 12%;
                    width: 68%;
                    height: 70%;
                    display: flex;
                    overflow: hidden;
                    .s__main-wrapper {
                        position: relative;
                        width: 400%;
                        transition: .35s;
                        transform: translateY(0%);
                        .s__main-img-wrapper {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            img {
                                width: 100%;
                                height: 100%;
                                background-position: center;
                                background-size: cover;
                                transition: 4s;
                            }
                        }
                    }
                    .tem__content {
                        position: absolute;
                        bottom: 10%;
                        right: 10%;
                        width: 275px;
                        height: 65px;
                        @include flex;
                        color: #000;
                        background: #fff;
                        z-index: 1;
                        font-size: 20px;
                        letter-spacing: 1px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                }
                .__m--btn-control {
                    position: absolute;
                    bottom: 5%;
                    right: 20%;
                    width: 68%;
                    height: 80px;
                    @include flex;
                    justify-content: space-around;
                    .m__prev,
                    .m__next {
                        /*position: relative;
                        width: 20%;
                        height: 4px;
                        background: #000;
                        border: 3px solid;
                        outline: none;
                        cursor: pointer;*/
                        position: relative;
                        width: calc(100% / 2);
                        height: 100%;
                        background: none;
                        cursor: pointer;
                        transition: .4s;
                        @include flex();
                        button.m__prev-btn,
                        button.m__next-btn {
                            position: relative;
                            width: 50px;
                            height: 50px;
                            background: none;
                            border: 1px solid;
                            border-radius: 50%;
                            transition: .3s;
                            cursor: pointer;
                            outline: none;
                            @include flex;
                            i {
                                position: relative;
                                font-size: 17px;
                                transition: .2s;
                            }
                        }
                    }
                }
            }
            .s__main-r {
                width: 60%;
                height: 100%;
                position: relative;
                @include flex;
                justify-content: flex-start;
                .s__main-content-slide {
                    width: 100%;
                    position: relative;
                    height: 80%;
                    @include flex;
                    position: relative;
                    .s_main-ct-wapper {
                        position: relative;
                        width: 100%;
                        height: 70%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: column;
                        .s__main-content {
                            position: relative;
                            width: 100%;
                            height: 40%;
                            text-align: left;
                            overflow: hidden;
                            .s__main-content-wr {
                                width: 100%;
                                height: calc(100% * 4);
                                position: relative;
                                transition: .4s;
                                transform: translateY(0%);
                                h1 {
                                    height: calc(100% / 4);
                                    width: 100%;
                                    font-size: 6vw;
                                }
                            }
                        }
                        .s__main-long-ct {
                            position: relative;
                            width: 100%;
                            height: 60%;
                            overflow: hidden;
                            .long-content-wr {
                                position: relative;
                                display: flex;
                                justify-content: flex-start;
                                align-items: flex-start;
                                height: 100%;
                                width: calc(100% * 4);
                                transition: .35s;
                                transform: translateX(0%);
                                .-long-ct {
                                    position: relative;
                                    width: 100%;
                                    height: 100%;
                                    padding-right: 130px;
                                    p {
                                        font-size: 25px;
                                        line-height: 40px;
                                        color: #000;
                                        font-weight: 900;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .main__simple {
            width: 100%;
            position: relative;
            background: #000;
            @include flex;
            perspective: 1200px;
            overflow-y: visible;
            .main__txt {
                position: absolute;
                top: 5%;
                left: 5%;
                width: 200px;
                height: 40px;
                @include flex;
                flex-direction: column;
                z-index: 5;
                h1._m-text {
                    position: relative;
                    text-align: center;
                    font-size: 2rem;
                    text-transform: uppercase;
                    color: #fff;
                }
                ._m-line._m-line3 {
                    width: 0%;
                    height: 2px;
                    background: #fff;
                    position: relative;
                    transition: .5s ease;
                    &.fullline {
                        width: 100%;
                    }
                }
            }
            .__simple-wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                @include flex;
                flex-direction: column;
                .__sp-row {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 75%;
                    height: 34%;
                    position: relative;
                    .__sp-bx {
                        position: relative;
                        width: (100% / 4);
                        height: 300px;
                        background: rgb(112 107 107 / 7%);
                        @include flex;
                        color: #fff;
                        flex-direction: column;
                        overflow: hidden;
                        cursor: pointer;
                        margin: 5px;
                        .__sp-content {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-start;
                            flex-direction: column;
                            padding: 25px 10px 0px 10px;
                            $speed: .275s;
                            transition: all $speed, visibility 0s $speed;
                            will-change: transform;
                            visibility: hidden;
                            transform: translateY(100%);
                            background: #000000d9;
                            p {
                                font-size: 20px;
                                margin-bottom: 5px;
                                font-weight: bold;
                            }
                            span {
                                font-size: 17px;
                            }
                        }
                    }
                    &:hover {
                        ~.__sp-row .__sp-content {
                            transform: translateY(-100%);
                        }
                        .__sp-content {
                            transform: translateX(100%);
                        }
                        & .__sp-bx:hover~.__sp-bx .__sp-content {
                            transform: translateX(-100%);
                        }
                        & .__sp-bx:hover .__sp-content {
                            visibility: visible;
                            transform: none;
                            transition-delay: 0s;
                        }
                    }
                }
            }
            img {
                max-width: 140px;
                height: auto;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
        }
        .main__last {
            width: 100%;
            height: 100vh;
            position: relative;
            background: #000;
            color: #fff;
            .__last-wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                .top__last {
                    position: relative;
                    width: 100%;
                    height: 60%;
                    @include flex;
                    .t__l-l {
                        position: relative;
                        @include flex;
                        flex-direction: column;
                        width: 70%;
                        height: 100%;
                        color: #fff;
                        transition: .5s;
                        h1 {
                            font-family: 'Krona One', sans-serif;
                            text-transform: uppercase;
                            font-weight: 700;
                            font-size: 5rem;
                            width: 100%;
                            height: calc(100% / 6);
                            text-align: right;
                            &:nth-child(2) {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .hire--btn {
                                    width: 200px;
                                    height: 50px;
                                    padding: 15px;
                                    @include flex;
                                    font-size: 20px;
                                    cursor: pointer;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                    color: #000;
                                    background: #fff;
                                    border: none;
                                    outline: none;
                                    border-radius: 30px;
                                    text-decoration: none;
                                }
                            }
                            &:nth-child(3) {
                                text-align: left;
                            }
                            &:nth-child(4) {
                                text-align: right;
                            }
                        }
                        &.active {
                            width: 0;
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                    .t__l-r {
                        width: 30%;
                        height: 100%;
                        position: relative;
                        transition: .3s;
                        @include flex;
                        cursor: pointer;
                        overflow: hidden;
                        .set-space {
                            display: none;
                        }
                        .-square-imgs {
                            position: relative;
                            display: none;
                            opacity: 0;
                            visibility: hidden;
                            width: 0%;
                            height: 0%;
                            transition: .5s;
                            float: left;
                            overflow: hidden;
                        }
                        .t__l-square {
                            width: 80%;
                            height: 90%;
                            @include flex;
                            border: 2px solid #fff;
                            -webkit-user-select: none;
                        }
                        &.active {
                            width: 100%;
                            .set-space {
                                position: absolute;
                                top: 0%;
                                width: 100%;
                                height: 100%;
                                left: 0%;
                                @include flex;
                                font-size: 3vw;
                                font-weight: bold;
                                color: #fff;
                                z-index: 2;
                                transition-delay: 1s;
                                font-family: var(--Korona);
                            }
                            .t__l-square {
                                width: 98%;
                            }
                            .-square-imgs {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                opacity: 1;
                                visibility: visible;
                                width: 100%;
                                height: 100%;
                                .imgs-city-show {
                                    width: 50%;
                                    height: 100%;
                                    background-position: center;
                                    background-size: cover;
                                    object-fit: cover;
                                }
                            }
                            .unset-space {
                                display: none;
                            }
                        }
                    }
                }
                .bot__last {
                    width: 100%;
                    height: 40%;
                    position: relative;
                    @include flex;
                    .bl-l {
                        position: relative;
                        width: 75%;
                        height: 100%;
                        @include flex;
                        justify-content: space-evenly;
                        .bot-img-wrap {
                            position: relative;
                            width: calc(100% / 4);
                            height: 90%;
                            overflow: hidden;
                            transition: .4s;
                            img {
                                width: 100%;
                                height: 100%;
                                background-position: center;
                                background-size: cover;
                                transition: .4s;
                            }
                            &:hover {
                                img {
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
                    .circle-bl {
                        width: 337px;
                        height: 337px;
                        position: relative;
                        @include flex;
                        transition: .3s;
                        .crl-bl {
                            width: 100%;
                            text-decoration: none;
                            height: 100%;
                            @include flex;
                            color: #000;
                            font-size: 20px;
                            font-weight: bold;
                            background: #fff;
                            border-radius: 50%;
                            cursor: pointer;
                            transition: .3s;
                        }
                        &.set-hide {
                            &.hide {
                                display: none !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .main__control-bar {
        position: absolute;
        top: -3%;
        left: 50%;
        width: 40%;
        height: 10%;
        transform: translate(-50%);
        @include flex;
        z-index: 2;
        .main-bar-single {
            position: relative;
            width: calc(100% / 4);
            height: 20%;
            @include flex;
            transition: .3s;
            cursor: pointer;
            .-bar-single {
                position: relative;
                width: 10%;
                height: 10px;
                border-radius: 15px;
                background: #fff;
                transition: .3s;
                cursor: pointer;
            }
            &.active {
                .-bar-single {
                    width: 80%;
                }
            }
        }
    }
    &.setOver {
        overflow: unset;
        overflow-x: hidden;
    }
}